table {
    margin: auto;
    padding: 15px;
    border-spacing: 10px;
    background-color : #1f5977;
}
body {
    background-color : #1f5977;

}
td {
    width: 70px;
    height: 70px;
text-align: center;
font-family: 'Sniglet', bold;
font-size: large;
color : transparent;
border-radius: 9px;
background: linear-gradient(145deg, #1f5977, #246a8d);
box-shadow:  5px 5px 6px #18475f, 
             -1px -1px 1px #2c7fa9;

}

.intro{
    color : lightblue;
    width: 450px;
    margin: auto;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    font-style: italic;

}
#navig {
    margin : auto;

    width: 100px;
    height: 45px;
   
text-align: center;
font-family: 'Sniglet', bold;
font-size: small;
font-weight: bolder;
text-decoration: none;
cursor: pointer;
color :white;
border-radius: 5px;
background: linear-gradient(145deg, pink, pink);
box-shadow:  5px 5px 6px #18475f, 
             -1px -1px 1px #2c7fa9;

}

#start{
    margin : auto;

    width: 35px;
    height: 35px;
}
#restart {
    margin : auto;

    width: 45px;
    height: 45px;
   
text-align: center;
font-family: 'Sniglet', bold;
font-size: small;
font-weight: bolder;
text-decoration: none;
cursor: pointer;
color :white;
border-radius: 5px;
background-image: url(img/restart.png);
box-shadow:  5px 5px 6px #18475f, 
             -1px -1px 1px #2c7fa9;

}


.zero {
    width: 70px;
    height: 70px;
text-align: center;
font-family: 'Sniglet', bold;
font-size: x-large;
color :transparent;
border-radius: 9px;
background: linear-gradient(145deg, #1f5977, #246a8d);
box-shadow:  5px 5px 6px #18475f, 
             -1px -1px 1px #2c7fa9;

}
.deux {
    width: 70px;
    height: 70px;
text-align: center;
font-family: 'Sniglet', bold;
font-size: xx-large;
color :white;
border-radius: 9px;
background: linear-gradient(145deg, #53b2b9, #46959c);
box-shadow:  5px 5px 6px #18475f, 
             -1px -1px 1px #2c7fa9;

}
.quatre {
    width: 70px;
    height: 70px;
text-align: center;
font-family: 'Sniglet', bold;
font-size: xx-large;
color :white;
border-radius: 9px;
background: linear-gradient(145deg, #e7da5b, #c2b84d);
box-shadow:  5px 5px 6px #18475f, 
             -1px -1px 1px #2c7fa9;
}
.huit {
    width: 70px;
    height: 70px;
text-align: center;
font-family: 'Sniglet', bold;
font-size: xx-large;
color :white;
border-radius: 9px;
background: linear-gradient(145deg, #ff8719, #e67115);
box-shadow:  5px 5px 6px #18475f, 
             -1px -1px 1px #2c7fa9;
 }
                

.seize {
    width: 70px;
    height: 70px;
text-align: center;
font-family: 'Sniglet', bold;
font-size: xx-large;
color :white;
border-radius: 9px;
background: linear-gradient(145deg, #46a676, #3b8c63);
box-shadow:  5px 5px 6px #18475f, 
             -1px -1px 1px #2c7fa9;

}

.trente {
    width: 70px;
    height: 70px;
text-align: center;
font-family: 'Sniglet', bold;
font-size: xx-large;
color :white;
border-radius: 9px;
background: linear-gradient(145deg, #7e6890, #6a577a);
box-shadow:  5px 5px 6px #18475f, 
             -1px -1px 1px #2c7fa9;

}




.sixquatre {
    width: 70px;
    height: 70px;
text-align: center;
font-family: 'Sniglet', bold;
font-size: xx-large;
color :white;
border-radius: 9px;
background: linear-gradient(145deg, #c3729d, #a46084);
box-shadow:  5px 5px 6px #18475f, 
             -1px -1px 1px #2c7fa9;

}
.centvh {
    width: 70px;
    height: 70px;
text-align: center;
font-family: 'Sniglet', bold;
font-size: xx-large;
color :white;
border-radius: 9px;
background: linear-gradient(145deg, #21831f, #1c6e1a);
box-shadow:  5px 5px 6px #18475f, 
             -1px -1px 1px #2c7fa9;

}
.dcs {
    width: 70px;
    height: 70px;
text-align: center;
font-family: 'Sniglet', bold;
font-size: xx-large;
color :white;
border-radius: 9px;
background: linear-gradient(145deg, #1f4a83, #1a3e6e);
box-shadow:  5px 5px 6px #18475f, 
             -1px -1px 1px #2c7fa9;
}
.ccd {
    width: 70px;
    height: 70px;
text-align: center;
font-family: 'Sniglet', bold;
font-size: xx-large;
color :#18475f;
border-radius: 9px;
background-image: url("img/512.png");
background-repeat:repeat;
box-shadow:  5px 5px 6px #18475f, 
             -1px -1px 1px #2c7fa9;

}
.mvq {
    width: 70px;
    height: 70px;
   
text-align: center;
font-family: 'Sniglet', bold;
font-size: x-large;
color :#18475f;
border-radius: 9px;
background-image: url("img/1024.png");
background-repeat:repeat;
box-shadow:  5px 5px 6px #18475f, 
             -1px -1px 1px #2c7fa9;

}
.dmqh {
    width: 70px;
    height: 70px;
text-align: center;
font-family: 'Sniglet', bold;
font-size: x-large;
color :#18475f;
border-radius: 9px;
background-image: url("img/2048.png");
background-repeat:repeat;
box-shadow:  5px 5px 6px #18475f, 
             -1px -1px 1px #2c7fa9;

}

.rules{
    width: 450px;
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Sniglet', bold;
font-size: 16px;


}
