@font-face {
    font-family: 'OpenDyslexicAlta';
    src: url('../fonts/open_dys/OpenDyslexicAlta-Bold.otf') format("opentype");
}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.containerLanding {
    background-color: #9CD692 ;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ContainerCol{
    width: 100%;
    display: flex;
    font-family:'OpenDyslexicAlta';
    margin-top: 3%;
    padding-top: 2%;
    padding-bottom: 2%;

}
.Colmain{
    background-color: white ;
    width: 70%;
    justify-content: center;
    border-radius: 15px 0px 0px 15px;
    font-size: x-large;
    font-family:'OpenDyslexicAlta';
    padding-top: 5%;
    padding-bottom: 3%;
    

}
.Colnav{
    background-color: #F2BA29 ;
    justify-content: center;
    border-radius: 0px 15px 15px 0px;
    margin-top: 0;

}

.Colleft{
    background-color: black ;
    width: 25%;
    margin-right: 2%;
    justify-content: center;
    align-items: initial;
    color:#FE0179;
    border-radius: 10px 10px 10px 10px;
    font-size: x-large;
    font-family:'OpenDyslexicAlta';

    
}
.Col2center{
    background-color: white ;  
    justify-content: center;
    align-items: initial;
    color:#FE0179;
    font-size: x-large;
    font-family:'OpenDyslexicAlta';

    

}
.Col2right{
    background-color: rgb(255, 255, 255) ;
    justify-content: center;
    align-items: initial ;
    color:#FE0179;
    border-radius: 0px 30px 30px 0px;
    font-size: x-large;
    font-family:'OpenDyslexicAlta';

   
}
.Img{

    background-color: rgb(255, 255, 255) ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LR{
    justify-content: center;
    align-items: center;
}

.error {
    font-size: small;
}